
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root {
    --font-color: #374690;
    --btn-color: #5266D2;
    --white: #FFFFFF;
    --font-family: 'manrope';
}


.landing {
    padding-top: 130px;
    width: 100%;
    height: 100vh;
    object-fit: fill;
    background-image: url(img/home-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing .landing-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding-left: 3rem;
}

.landing .landing-txt h1:nth-child(1) {
    font-size: 48px;
    font-family: var(--font-family);
    color: var(--white);
    max-width: 440px;
    line-height: 95px;
}

.landing .landing-txt h1 span {
    font-size: 128px;
}

.landing .landing-txt p:nth-child(2) {
    font-family: var(--font-family);
    color: var(--white);
    font-size: 16px;
    max-width: 440px;
}

.landing .landing-txt a:nth-child(3) {
    font-family: var(--font-family);
    font-size: 24px;
    padding: 1.5rem 12.5rem;
    border-radius: 40px;
    background-color: var(--btn-color);
    color: var(--white);
    text-decoration: none;
}


.landing div .qcu-logo {
    opacity: 80;
    width: 400px;
    height: 400px;
}

.landing div:nth-child(2) {
    padding-right: 5rem;
}

@media screen and (max-width: 1040px) {

    .landing .landing-txt h1:nth-child(1) {
        font-size: 30px;
        line-height: 80px;
    }

    .landing .landing-txt h1 span {
        font-size: 100px;
    }

    .landing .landing-txt p:nth-child(2) {
        font-size: 16px;
        max-width: 380px;
    }

    .landing .landing-txt a:nth-child(3) {
        font-size: 18px;
        padding: 1rem 11rem;
    }

    .landing div .qcu-logo {
        width: 300px;
        height: 300px;

    }

    .landing div:nth-child(2) {
        padding-right: 2rem;
    }
}

@media screen and (max-width: 800px) {
   .landing .landing-txt {
    padding-left: 1rem;
   }

   .landing div:nth-child(2) {
    padding-right: 1rem;
    display: none;
    }

    .landing .landing-txt a:nth-child(3) {
        font-size: 18px;
        padding: 1rem 9rem;
    }

    .landing {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}